<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

    <form method="get" class="form-container">
        {{ form.status.label_tag }}
        {{ form.status }}
        <button type="submit">Filter</button>
    </form>

    {% for task in tasks %}

    <div class="task-container">
        </br>
        <a href="{% url 'task-detail' task.pk %}" class="task-title">{{ task.title }}</a>
        </br>
        <span class="status">{{ task.status }}</span>
        <span class="priority">{{ task.priority }}</span>
    </div>

    {% empty %}
    <span class="noone">No Task</span>

    {% endfor %}
</body>
</html>